@import url("satoshi.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.number-loader {
  font-family: "Satoshi-Variable", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 120px;
  line-height: 87%;
  color: #ffffff;
  position: absolute;
  bottom: 100px;
  right: 80px;
}

body {
  font-family: "Satoshi-Variable", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  overflow-x: hidden !important;
  background-color: white;
}
html {
  cursor: url("../Assets/dot-cursor.svg"), auto;
  /* overflow-x: hidden !important; */
}

[role="button"],
button {
  cursor: url("../Assets/dot-cursor.svg"), auto;
}

a {
  /* cursor: none !important; */
  cursor: url("../Assets/dot-cursor.svg"), auto;
}

.input-cursor {
  cursor: url("../Assets/dot-cursor.svg"), auto;
}

.h1-desk {
  font-family: "Satoshi-Variable", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 120px;
  font-style: normal;
  font-weight: 300;
  line-height: 87%;
}
.h2-desk {
  font-family: "Satoshi-Variable";
  font-size: 80px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.sp1-desk {
  font-family: "Satoshi-Variable";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 43px;
  text-transform: uppercase;
}
.b1-desk {
  font-family: "Satoshi-Variable";
  font-size: 45px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.h3-desk {
  font-family: "Satoshi-Variable";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.p-14 {
  font-family: "Satoshi-Variable";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.b2-desk {
  font-family: "Satoshi-Variable", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.button-font {
  font-family: "Satoshi-Variable", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.l-desk {
  font-family: "Satoshi-Variable", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.b3-desk {
  font-family: "Satoshi-Variable", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.b4-desk {
  font-family: "Satoshi-Variable", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
}
.sp2-desk {
  font-family: "Satoshi-Variable", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: linear-gradient(
    128deg,
    #ff5800 17.82%,
    #f62a4b 34.27%,
    #d42374 48.94%,
    #a0378b 67.62%,
    #64428e 78.29%,
    #2b417a 89.85%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-text-1 {
  /* Body 3 Desktop */
  font-family: "Satoshi-Variable";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

.contact-text-2 {
  font-family: "Satoshi-Variable";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 86px;
}

.grain {
  z-index: 10000;
  width: 100%;
  height: 100%;
  opacity: 0.05;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 0.15)
    ),
    url("https://uploads-ssl.webflow.com/63bb1f67f1d82961dd42f3d4/643ceae4fba6fac6078bbf16_grain-effect.gif");
  background-position: 0 0, 50%;
  background-repeat: repeat, repeat;
  background-size: auto, auto;
  background-attachment: scroll, fixed;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.grain-2 {
  z-index: 200000;
  width: 100%;
  height: 100%;
  opacity: 0.05;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 0.15)
    ),
    url("https://uploads-ssl.webflow.com/63bb1f67f1d82961dd42f3d4/643ceae4fba6fac6078bbf16_grain-effect.gif");
  background-position: 0 0, 50%;
  background-repeat: repeat, repeat;
  background-size: auto, auto;
  background-attachment: scroll, fixed;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

#ellipse-shadow {
  position: fixed;
  width: 1167px;
  height: 1167px;
  border-radius: 1167px;
  background: linear-gradient(
    180deg,
    #ff5800 15.63%,
    #f62a4b 34.9%,
    #d42374 52.08%,
    #a0378b 73.96%,
    #64428e 86.46%,
    #2b417a 100%
  );
  filter: blur(300px);
  pointer-events: none; /* To allow interactions with elements beneath it */
  z-index: -1;
  transform: rotate3D(0, 0, 1, 180deg);
}

.work {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: no-repeat;
  background-size: contain;
  background-position-y: bottom;
  /* height: 300px; */
  background-color: #121212;
}

.contact {
  border-radius: 21.5px;
  /* background: rgba(255, 255, 255, 0.2); */
  background: black;
  border: solid white 1px;
  backdrop-filter: blur(2px);
  width: 107px;
  height: 38px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.3s ease;
  /* Body 3 Mobile */
  font-family: "Satoshi-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #212121;
  text-align: center;
  display: flex;
  justify-content: center;
  /* Inside auto layout */
}

/* 
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 24px;
gap: 8px;

margin: 0 auto;
width: 104px;
height: 38px;

background: rgba(255, 255, 255, 0.2);
backdrop-filter: blur(2px);

border-radius: 100px;

flex: none;
order: 1;
flex-grow: 0; */

.contact.expanded {
  width: 249px;
  height: 267px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid var(--Gris-1, #b5b5b5);
  background: var(--BG-Blur-Blanco, rgba(255, 255, 255, 0.2));
  backdrop-filter: blur(5px);
}

.contact-b-cont {
  /* height: 170px; */
  /* width: 510px; */
}

.contact-form textarea {
  height: 90px;
}
.contact-buttons {
  border: solid 1px #d9d9d9;
  border-radius: 50px;
  width: fit-content;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 17px;
  margin-bottom: 12px;
}

.contact-buttons:hover {
  background-color: #ececec;
  color: black;
}

.contact-b-active {
  background: linear-gradient(
    115.61deg,
    #ff5800 -26.64%,
    #f62a4b 0.76%,
    #a0378b 92.51%,
    #2b417a 100.06%
  );
  color: white !important;
  border: 1px solid #d9d9d9;
}

.contact-form input,
.contact-form textarea {
  border: none;
  border-bottom: 1px solid #b5b5b5;
  margin-bottom: 10px;

  padding: 5px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-family: "Satoshi-Variable";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
}

.contact-page {
  border-radius: 21.5px;
  background: var(--BG-Blur-Blanco, rgba(255, 255, 255));
  backdrop-filter: blur(10px);
  border: solid 1px gray;
  width: 133px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  position: fixed;
  top: 1.5rem;
  right: 18px;
}

.claim-inside {
  overflow-x: auto;
  white-space: nowrap; /* Prevent text wrapping */
  width: 100vw;
  height: 110vh;
  display: flex;
  align-items: center;
}

@media (max-width: 1040px) {
  .h1-desk {
    font-size: 90px;
  }

  .b1-desk {
    font-family: "Satoshi-Variable";
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 43px;
  }
}

@media (max-width: 640px) {
  .h1-desk {
    font-family: "Satoshi-Variable";
    font-style: normal;
    font-weight: 300;
    font-size: 70px;
    line-height: 91%;
  }
  .h2-desk {
    font-family: "Satoshi-Variable";
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 54px;
  }
  .sp1-desk {
    font-family: "Satoshi-Variable";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 43.2px;
    text-transform: uppercase;
  }
  .b1-desk {
    font-family: "Satoshi-Variable";
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 43px;
  }
  .h3-desk {
    font-family: "Satoshi-Variable";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
  }
  .b2-desk {
    font-family: "Satoshi-Variable";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
  }
  .l-desk {
    font-family: "Satoshi-Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .b3-desk {
    font-family: "Satoshi-Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px;
  }

  .b4-desk {
    font-family: "Satoshi-Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
  }
  .sp2-desk {
    font-family: "Satoshi-Variable";
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: linear-gradient(
      128deg,
      #ff5800 17.82%,
      #f62a4b 34.27%,
      #d42374 48.94%,
      #a0378b 67.62%,
      #64428e 78.29%,
      #2b417a 89.85%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .contact.expanded {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: (10px);
  }
  .contact-buttons {
    font-size: 13px;
    /* padding: 8px 16px; */
    /* gap: 10px; */
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .contact-text-1 {
    font-family: "Satoshi-Variable";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* We would love to be part of your project */
  }
  .contact-text-2 {
    font-family: "Satoshi-Variable";
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 61px;
  }
  .number-loader {
    font-family: "Satoshi-Variable", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 70px;
    line-height: 87%;
    color: #ffffff;
    position: absolute;
    bottom: 40px;
    right: 45px;
  }
}
@media (max-width: 640px) and (max-height: 600px) {
  .h1-desk {
    font-size: 60px;
  }
  .home-desc-hero {
    bottom: 100px;
  }
}

@media (max-width: 365px) {
  .h1-desk {
    font-size: 60px;
  }
}
#circleCursor {
  position: fixed;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  border: solid black 1px;
  pointer-events: none;
  z-index: 100000;
  backdrop-filter: blur(3px);
}

#circleCursor:before {
  content: var(--before-content, "");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: var(--before-margin-top, "-7px");
}

.button-magnetic {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 80px; */
}

.button {
  box-sizing: border-box;
}

.text {
  /* display: inline-block; */
  pointer-events: initial;
  position: relative;
}

.button--primary {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  /* width: 100px; */
  /* height: 40px; */
  color: white;
  border-radius: 25px;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: 0 3px 10px rgb(255 255 255 / 15%);
}

.button--primary::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 25px;
}
.elemento-animado {
  transform-origin: top center;
}
.reveal-text {
  display: block;
  overflow: hidden;
}

.reveal-text span {
  /* display: block; */
  animation: reveal 2s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}
@keyframes reveal {
  0% {
    transform: translate(0, 150%);
  }
  100% {
    transform: translate(0, 0);
  }
}
