.inside-cont {
  background: no-repeat;
  background-image: url("../Assets/work.svg");
  background-size: contain;
  background-position-y: bottom;
  background-color: #121212;
}

.scroll-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.div-animado {
  width: 100vw;
  height: 500px;
}

.project-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.first-pro {
  background-image: url("../Assets/manno.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 482px;
  height: 482px;
  margin-bottom: -309px;
}
.second-pro {
  background-image: url("../Assets/borja.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 582px;
  height: 582px;
}

.fourth-section {
  background: #121212;
  height: 500px;
}

.claim-cont {
  height: 300px;
  background: #121212;
}

.claim {
  color: #b5b5b5;
  margin-left: 180px;
}

.small-numb {
  color: var(--Negro-Textos, #212121);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 10px;
}

.services {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  transition: all 0.3s ease;
  cursor: none !important;
}

.services.expanded {
  height: 200px;
}

/* seoigjduniefdifugtnireofgitnujgrkoe */

.block_top {
  background: #213f29;
  height: 400px;
  color: #faebbb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 50px;
  border-radius: 50px;
}
.next_block {
  background: #213f29;
  height: 400px;
  color: #faebbb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 150px;
  border-radius: 50px;
}
.cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-bottom: 90px;
}
.custom-card {
  position: absolute;
  width: 100%;
  top: 0px;
  height: 70vh;
  background-color: #213f29;
  color: #faebbb;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}
.card1 {
}
.card2 {
  top: 40px;
}
.card3 {
  top: 80px;
}
.opacity {
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  opacity: 0.6;
}
.scale {
  moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  width: 95%;
}
.nav {
  display: block;
  position: absolute;
  left: 30px;
  top: 45%;
  z-index: 10;
}
.nav li {
  padding: 2px;
}
.nav li a {
  text-decoration: none;
}
.nav .circle {
  border: 1px solid #faebbb;
  color: #faebbb;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 25px;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
}
.nav .active {
  background: #faebbb;
  color: #213f29;
}
